@import url(https://fonts.googleapis.com/css?family=Chivo:300,400,700);@import url(https://fonts.googleapis.com/css?family=Roboto+Mono);.styleApp__column___1ya-m {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

html,
body {
  height: 100%;
  width: 100%;
  min-width: 900px;
  margin: 0;
  background: #e4e2d9;
  color: #4a4a4a;
  font-family: "Chivo", sans-serif;
  font-weight: 400;
  padding: 0; }

#root {
  height: 100%;
  width: 100%; }

text {
  fill: #4a4a4a;
  font-family: "Roboto Mono", sans-serif;
  font-size: 12px; }

.styleApp__container___2iFl6 {
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.styleApp__right___mjZJp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

.styleApp__svg___3pRio rect {
  stroke: white;
  stroke-width: 1px; }

.styleApp__svg___3pRio text {
  text-anchor: middle; }

.styleApp__svg___3pRio .styleApp__trueNegative___2hKfG {
  fill: #ec407a; }

.styleApp__svg___3pRio .styleApp__true___3v7o8 {
  fill: #9ccc65; }

.styleApp__svg___3pRio .styleApp__false___3lTxA {
  fill: #ec407a; }

.styleApp__svg___3pRio .styleApp__falsePositive___2tF3x {
  fill: #c2185b; }

.styleApp__svg___3pRio .styleApp__falseNegative___1XxHl {
  fill: #558b2f; }

.styleApp__svg___3pRio .styleApp__truePositive___2vnCI {
  fill: #9ccc65; }

.styleApp__sliderContainer___2aqPZ {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }
